<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>357298353315-che0to9mahoo4d1fk2vo53k0h4fj06kl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357298353315-che0to9mahoo4d1fk2vo53k0h4fj06kl</string>
	<key>API_KEY</key>
	<string>AIzaSyCsW09DMJirqzxapGVzVOqnACfQXiyh2fc</string>
	<key>GCM_SENDER_ID</key>
	<string>357298353315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hubofwallet.how-admin</string>
	<key>PROJECT_ID</key>
	<string>how-admin-final</string>
	<key>STORAGE_BUCKET</key>
	<string>how-admin-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:357298353315:ios:498551962684bd5d</string>
	<key>DATABASE_URL</key>
	<string>https://how-admin-final.firebaseio.com</string>
</dict>
</plist>
